---
const { personData } = Astro.props;
---

<article class="card">
  <div>
    <a href={`/person?id=${personData.id}`}>
      <h5>{personData.name}</h5>
      <p>{personData.short_description}</p>
      <h5>Læs mere →</h5>

      <h4>{personData.date} {personData.end_date}</h4>

      <img src={personData.img} alt="{personData.name}" />
    </a>
  </div>
</article>

<style>
  img {
    width: auto;
    height: 300px;
  }
  a {
    color: var(--text-color);
    text-decoration: none;
  }
</style>
