---
import { Image } from "astro:assets";
const { title, text, plakat, caption, order, phototext } = Astro.props;
---

<section class="grid_plakat">
  <div class="phototext">
    <Image src={plakat} alt="plakat" class="plakat" />
    <p>{phototext}</p>
  </div>
  <div class="content">
    <h3>{title}</h3>
    <h5>{caption}</h5>
    <p>{text}</p>
  </div>
</section>

<style define:vars={{ order }}>
  .plakat {
    max-width: 100%;
    width: 350px;
    height: auto;
  }
  .content {
    place-content: center;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
    margin: 2rem;
  }
  .phototext {
    place-self: center;
    margin: 0;
  }
  @media screen and (width>800px) {
    .grid_plakat {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .content {
      order: var(--order);
    }
  }
</style>
