---
//@ts-nocheck
import PageLayout from "../../Layouts/PageLayout.astro";

export async function getStaticPaths() {
  const options = {
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5empybnB0enFoYnZkZmh2a2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMDIwNzIsImV4cCI6MjA5MTg3ODA3Mn0.IkDrrKsAta2fGFEBNrpd2dK1SW3IJmgHoK8PPQsDjXo",
    },
  };
  const url = "https://dyzjrnptzqhbvdfhvkgi.supabase.co/rest/v1/uge44_kalender";
  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

// const { slug } = Astro.params;
const { post } = Astro.props;
---

<PageLayout heading={post.name} />
<article class="grid_1-1">
  <h2>{post.name}</h2>
  <div>
    <h4>{post.date} - {post.end_date}</h4>
    <img src={post.img} alt={post.name} />
  </div>
  <div>
    <p>{post.description}</p>
    <h5>By: {post.city}</h5>
    <h5>Adresse: {post.adresse}</h5>
    <h5>Tidspunkt: {post.time} - {post.end_time}</h5>
    <h5>Pris: {post.pris}</h5>
  </div>
</article>

<style>
  .grid_1-1 {
    background-color: var(--lys-laks);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 4rem;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 0 auto;
    padding: 0rem 3rem 3rem 2rem;
  }

  h2 {
    grid-column: 1 / -1;
    padding: 3rem 1rem 0rem 1rem;
    justify-self: center;
  }
  h4 {
    padding: 0rem 0rem 0rem 2rem;
  }

  h5 {
    padding: 0.5rem 1rem 0rem 2rem;
  }
  p {
    padding: 0.5rem 4rem 0rem 2rem;
  }
</style>
